.sign-in-section {
	position: relative;
	flex: 1;
	background-color: #12002b;
	min-height: 80vh;
	.sign-in-section-content {
		position: absolute;
		left: 50%;
		top: 4rem;
		transform: translate(-50%);
		box-sizing: border-box;
		background-color: white;
		width: 300px;
		padding: 2rem;
		&.errorShaking {
			animation: errorShaking 0.6s;
		}
	}
	.sign-in-section-icon {
		font-size: 5rem;
	}
	.sign-in-section-btn {
		display: block;
		width: 100%;
		padding: 8px;
		font-size: 1.1rem;
		font-weight: bold;
		margin-top: 1rem;
		border-color: #00bc77;
		background-color: #00bc77;
		color: #fff;
	}
	.sign-in-section-user-and-mdp {
		display: flex;
		flex-direction: column;
		text-align: left;
		margin-bottom: 1rem;
		.sign-in-section-user-and-mdp-label {
			font-weight: bold;
		}
		.sign-in-section-user-and-mdp-input {
			padding: 5px;
			font-size: 1.2rem;
			&.error-input {
				border: 1px solid red;
				box-shadow: 0 0 5px red;
			}
		}
	}
	.sign-in-section-remember-me {
		display: flex;
		.sign-in-section-remember-me-label {
			margin-left: 0.25rem;
		}
	}
}

@keyframes errorShaking {
	0%,
	50%,
	100% {
		transform: translateX(-50%) translateX(0);
	}
	10%,
	30% {
		transform: translateX(-50%) translateX(-10px);
	}
	20%,
	40% {
		transform: translateX(-50%) translateX(10px);
	}
}
